* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 20%;
}

.logo img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
}

.information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.feature img {
    width: 70px;
}

.feature{
    position: absolute;
    display: flex;
    color: #fff;
}

.feature div {
    margin-left: 30px;
}

.feature div p {
    margin-top: 8px;
}

.one {
    top: 450px;
    right: 50px;
}

.two {
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}

.three {
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four {
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}

.mobile {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h3 {
    margin: 15px 0;
    color: #fff;
}

#upBtn {
    width: 15px;
    cursor: pointer;
}

#downBtn {
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top:0;
}

/* contact page */
.container {
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.header {
    background-color: rgb(158, 169, 233);
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.form {
    padding: 20px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    width: 92%; /* 100% */
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #d8d1d1;
}

.form-control small {
    color: red;
    position: absolute;
    margin: 3px;
    visibility: hidden;
}

.form-control button {
    background-color: blueviolet;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid blueviolet;
    cursor: pointer;
    transition-duration: 0.4s;
}

.form-control button:hover {
    background-color: #fff;
    color: blueviolet;
}


.form-control.success input {
    border: 2px solid yellowgreen;
}

.form-control.error input {
    border: 2px solid red;
}
